# --- Geral / Sistema Operacional ---
.DS_Store
Thumbs.db
*.log
tmp/

# --- IDEs ---
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# --- Docker ---
# Ignora pastas de dados mapeadas no compose (se houver)
postgres-data/
redis-data/

# --- GO (API) ---
api-go/main
api-go/main.exe
api-go/bin/
api-go/vendor/
api-go/.env

# --- JAVA (Worker) ---
worker-java/.gradle/
worker-java/build/
worker-java/out/
worker-java/bin/
*.class
*.jar
*.war

# --- VUE.JS + TYPESCRIPT ---
# Dependências do projeto
web-vue/node_modules/

# Pasta de build final (gerada pelo Vite)
web-vue/dist/

# Arquivos de configuração local (senhas/env)
web-vue/.env.local
web-vue/.env.*.local

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
